body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.SelectImage {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.ImageList {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.image { 
  width: 100%;
  height: auto;
}
